*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
        background: #2b2b2b;
        padding: 40px;
        font-family: Poppins, sans-serif;
      }
      p{
        display:block;
      }
      .hero-box {
        background: #f8f1de;
        border-radius: 40px;
        padding: 30px 45px;
        position: relative;
        overflow: hidden;
        min-height: 720px;
      }

      .navbar a {
        font-size: 13px;
        font-weight: 600;
        color: #222;
        text-transform: uppercase;
      }

      .hero-title{
    font-family: 'DM Serif Display', serif;
    font-size: 82px;
    line-height: 0.95;
    color: #2b1733;
}

      .hero-text{  
      color:#5b5b5b;
    font-size:18px;
    line-height:1.9;
    max-width:430px;
    width: 100%; 
    margin-top: 25px;
}
      .hero-img {
        width: 100%;
        max-width: 520px;
        height: auto;
      }

      .btn-danger,
.btn-outline-dark{
    border-radius:12px;
    padding:14px 30px;
}

      .social-box {
        position: absolute;
        left: 30px;
        bottom: 30px;
        background: white;
        padding: 25px;
        border-radius: 30px;
        width: 220px;
      }

      .social-box h2 {
        font-weight: 700;
      }

      .social-icons i {
        margin-right: 12px;

        color: #777;
      }

      .search-icon {
        position: absolute;
        right: 40px;
        bottom: 40px;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 3px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 28px;
        background: white;
      }

      @media (max-width: 992px) {
        .hero-title {
          font-size: 55px;
          text-align: center;
        }

        .hero-text {
          width: 100%;
          text-align: center;
        }

        .btn {
          margin-bottom: 15px;
        }

        .social-box {
          position: static;
          margin-top: 30px;
          width: 100%;
        }

        .search-icon {
          display: none;
        }
      }